{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<div id="desktop">
    <div class="home-carousel">
        <div class="dark-mask"></div>
          <div class="container">
              <div id="owl-demo" class="homepage owl-carousel">
                  {{ range sort .Site.Data.carousel "weight" }}
                  <div class="item">
                      <div class="row">
                          <div class="col-sm-1 right">
                                <a class="btn prev"><img src="../img/left-arrow-chevron.svg" class="left-chevron"></a>
                          </div>
                          <div class="col-sm-6 right">
                            <div class="carousel-content">
                              <h1>{{ .title }}</h1>
                              {{ .description | safeHTML }}
                            </div>
                          </div>
                          <div class="col-sm-4">
                              <img class="img-responsive" src="{{ .image }}" alt="" width="300px" height="400px">
                          </div>
                          <div class="col-sm-1 right">
                              <a class="btn next"><img src="../img/right-chevron.svg" widht="50px" height="50px"></a>
                          </div>
                      </div>
                 </div>
                  {{ end }}
            </div>
        </div>
     </div>
</div>
<div id="mobile">
  <div class="home-carousel">
      <div class="dark-mask"></div>
        <div class="container">
            <div id="owl-demo" class="homepage owl-carousel">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                          <div class="carousel-content">
                            <h1>{{ .title }}</h1>
                            {{ .description | safeHTML }}
                               <div class="icon-carousel">
                            <img class="img-responsive" src="{{ .image }}">
                          </div>
                        </div>
                    </div>
               </div>
                {{ end }}
          </div>
      </div>
   </div>
<!--<div class="row">
    {{ range sort .Site.Data.carousel "weight" }}


                <div class="box-simple">
                <h3>{{ .title }}</h3>
                <p>{{ .description | safeHTML }}</p>
              </div>
            </div>
            <div class="col-sm-4">
             <div class="icon">
              <img class="img-responsive" src="{{ .image }}" alt="" width="100px" height="100px">

        </div>

    {{ end }}
  </div>-->
</div>

{{ end }}
{{ end }}
{{ end }}



















<!--{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                        <div class="col-sm-7 right">
                            <h1>{{ .title }}</h1>
                            {{ .description | safeHTML }}
                        </div>
                        <div class="col-sm-5">
                            <img class="img-responsive" src="{{ .image }}" alt="" width="300px" height="400px">
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        <!--</div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}-->
