localhost:80 {
    # static file serving configuration
    #browse
    root /srv/public
    ext .html

    # enabling hugo if not built by CI
    hugo /srv

    #logging (new syntax brought by v0.10)
    log /var/log/localhost.access.log {
        rotate_size 100 # Rotate after 100 MB
        rotate_age  14  # Keep log files for 14 days
        rotate_keep 10  # Keep at most 10 log files
    }
    errors /var/log/localhost.error.log {
        rotate_size 50 # Rotate after 50 MB
        rotate_age  300 # Keep rotated files for 300 days
        rotate_keep 100  # Keep at most 100 log files
        404 404.html
    }

    # features
    gzip

    # Security over TLS automated with letsencrypt.org
    #tls alexandre.allouche@gmail.com

    # those headers are added to the outgoing response and seen by the client
    header / {
        # HEADERS FOR TLS
        # HSTS enforce encryption, ttl of this command is 1 year
        Strict-Transport-Security max-age=31536000

        # HEADERS FOR FUN
        X-Content-Type-Options nosniff
        X-If-You-Are-Reading-This "you are too close"
    }
}
