.yamm .nav,
.yamm .collapse,
.yamm .dropup.use-yamm,
.yamm .dropdown.use-yamm {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}

.navbar{
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

.navbar-brand{
  border-bottom: none;
}

.navbar-affixed-top{
  z-index: 1000;
  width: 100%;
  top: 0;

}

.navbar-default {
    border-color: transparent;
    background-color: black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fff;
}

.navbar-brand>img {
    height: 40px;
    max-width: 250px;
    margin: -6px;
}

.btn-draw{
  background:black;
  color:#fff;
  border:none;
  position:relative;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.btn-draw:hover{
  background:#fff;
  color:#8bf8f9;
}

.btn-draw:before,.btn-draw:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #8bf8f9;
  transition:400ms ease all;
}

.btn-draw:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.btn-draw:hover:before,.btn-draw:hover:after{
  width:100%;
  transition:800ms ease all;
}

@media(min-width:992px) {
    .navbar-brand>img {
        height: 50px;
        max-width: 400px;
        margin: -15px;
    }
}

@media(min-width:768px) {
    .navbar-brand>img {
        height: 50px;
        max-width: 300px;
        margin: -15px;
    }
}



.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #8bf8f9;
    background-color: #8bf8f9;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color:  #8bf8f9;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: "Montserrat", "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    font-size:14px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color:  #8bf8f9;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color:  #8bf8f9;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 10px 0;
        padding-bottom: 2px;
        border: 0;
        background-color: black;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        padding-left: 25px;
        padding-right: 25px;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        border-bottom: none;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;

    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
        border-bottom: none;
    }
}
