<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <!--{{ partial "breadcrumbs.html" . }}-->
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Nos offres</h1>
                    </div>
                </div>
            </div>
        </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="offers">
              {{ $paginator := .Paginate (where .Data.Pages "Type" "offres") }}
              {{ range $paginator.Pages }}

              <div class="carte">
              <a href="{{ .Permalink }}">
               <div class="carte-block-top">
                {{ if .Params.offres }}

                <img src="https://angry-elion-09dae3.netlify.com/{{ .Params.offres }}" class="img-responsive" alt="Card image cap">
                {{ else }}
                <img src="https://angry-elion-09dae3.netlify.com/{{ .Params.offres }}" class="img-responsive" alt="Card image cap">
                {{ end }}
                </div>
                <div class="carte-body">
                  <h5 class="carte-title">{{ .Title }}</h5>
                 </div>
                    <p class="carte-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="carte-button">En savoir plus</p></a>
                  </div>
             {{ end }}
           </div>
         </div>
       </div>
    </div>

        {{ partial "footer.html" . }}


  </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
