<section class="bar">
  <!--    <div class="dark-mask"></div>-->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <h5>Pour voir le tableau détaillé:</h5>
                <div class="col-md-4"></div>
                <div class="col-md-4"><p class="Contactez-nous"><a href="/contact" class="btn-submit-read-more">Contactez nous</a></div>
                <div class="col-md-4"></div>
              </div>
          </div>
      </div>
</section>
